<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Registration Form</title>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>

<form class="login-form" method="post">
    <div class="field">
        <input type="text" placeholder="username" name="userName" autocomplete="off" th:value="${data.userName}"/>
        <span th:if="${#fields.hasErrors('data.userName')}" th:errors="${data.userName}"></span>
    </div>

    <div class="field">
        <input type="email" placeholder="email address" name="emailAddress" autocomplete="off" th:value="${data.emailAddress}"/>
        <span th:if="${#fields.hasErrors('data.emailAddress')}" th:errors="${data.emailAddress}"></span>
    </div>

    <div class="field">
        <input type="password" placeholder="password" name="password" autocomplete="off"/>
        <span th:if="${#fields.hasErrors('data.password')}" th:errors="${data.password}"></span>
    </div>

    <div class="field with-btn">
        <input type="password" placeholder="password again" name="rePassword" autocomplete="off"/>
        <span th:if="${#fields.hasErrors('data.samePassword')}" th:errors="${data.samePassword}"></span>
    </div>

    <button>Register</button>

    <p class="message"></p>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body>
</html>
